{% extends '@common.presentation/base_appshell.html.twig' %}

{% block body %}
    <div class="py-6">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="etfswui-card">
                <div class="etfswui-card-title">
                    <h2 class="etfswui-card-title-text">Account Dashboard</h2>
                </div>
                <div class="etfswui-card-content">
                    {% for message in app.flashes('success') %}
                        <div class="etfswui-alert etfswui-alert-success mb-6">
                            <div class="etfswui-alert-body">
                                <p class="etfswui-alert-success-text">{{ message }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="space-y-6">
                        <div>
                            <h3 class="etfswui-heading-3">Account Information</h3>
                            <dl class="etfswui-description-list">
                                <div class="etfswui-description-list-item">
                                    <dt class="etfswui-description-list-term">Email</dt>
                                    <dd class="etfswui-description-list-description">{{ app.user.email }}</dd>
                                </div>
                                <div class="etfswui-description-list-item">
                                    <dt class="etfswui-description-list-term">Account Created</dt>
                                    <dd class="etfswui-description-list-description">{{ app.user.createdAt|date('F j, Y') }}</dd>
                                </div>
                            </dl>
                        </div>

                        <div class="etfswui-card-actions">
                            <a href="{{ path('account.presentation.sign_out') }}" class="etfswui-button-danger">
                                Sign out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 