{% extends '@Webui/base_fullcontent.html.twig' %}

{% block footer %}
    &copy; {{ "now"|date("Y") }} Manuel Kießling.
    <a
            href="https://manuel.kiessling.net/imprint-impressum-datenschutz-haftung"
            target="_blank"
    >Privacy Policy · Imprint</a>
{% endblock %}
