{% extends '@Webui/base_fullcontent.html.twig' %}

{% block footer %}
    &copy; {{ "now"|date("Y") }} The DX·Tooling Project.
    <p>
        <small>This project is neither affiliated with nor endorsed by the Playwright project or the Microsoft corporation.</small>
    </p>
{% endblock %}
