{% extends '@Webui/base_fullcontent.html.twig' %}

{% block footer %}
    &copy; {{ "now"|date("Y") }} Manuel Kießling.
    <a
            href="https://manuel.kiessling.net/imprint-impressum-datenschutz-haftung"
            target="_blank"
    >Privacy Policy · Imprint</a>
    <p>
        <small>This project is neither affiliated with nor endorsed by the Playwright project or the Microsoft corporation.</small>
    </p>
{% endblock %}
